.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 48px;
  width: 100%;
  padding: 0 16px;

  border-radius: 8px;
}

.title {
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trashIcon {
  height: 20px;
  width: 20px;
  margin-left: 16px;
}
