@import 'src/global';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.header {
  margin: 10% auto;
  font-size: 30px;
  font-weight: bold;
  color: $color-blue;
}

.todosList {
  overflow: auto;
  height: 100%;
  width: 90%;
  padding: 10px;
  margin-bottom: 100px;
}

.todo {
  margin-bottom: 10px;
  box-shadow: 0px 1px 6px 0px rgba(50, 50, 50, 0.6);
}

.newTaskButton {
  position: fixed;
  bottom: 5%;
  min-height: 50px;
  width: 50%;
}

.pagination {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  .arrow {
    cursor: pointer;
  }
}
